<div class="card" id="container" 
    [class.action]="player.status === 'action'"
    [class.folded]="player.status === 'folded'">
    
    <div class="header secondary-color">
            <h1 class="player">{{player.name}}</h1>
    </div>
    <div class="card body" >
        <span id="cards" >
            {{setPlayerSuit(player.currentHand)}}
            {{printCardA(player.currentHand)}}
            <img *ngIf=AisSpade src="assets\images\suits\Spade.png" height="17" width="15" >
            <img *ngIf=AisHeart src="assets\images\suits\heart.png" height="17" width="15" >
            <img *ngIf=AisDiamond src="assets\images\suits\diamonds.png" height="20" width="19" >
            <img *ngIf=AisClub src="assets\images\suits\clubs.jpg" height="17" width="15" >
            {{printCardB(player.currentHand)}}
            <img *ngIf=BisSpade src="assets\images\suits\Spade.png" height="17" width="15" >
            <img *ngIf=BisHeart src="assets\images\suits\heart.png" height="17" width="15" >
            <img *ngIf=BisDiamond src="assets\images\suits\diamonds.png" height="20" width="19" >
            <img *ngIf=BisClub src="assets\images\suits\clubs.jpg" height="17" width="15" >
        </span><br> 

        <div [hidden]="!isCurrTurn(player)">
            <button type="button" class="options btn btn-outline-dark btn-danger border" (click)="check(player)">Check</button>
            <button type="button" class="options btn btn-outline-dark btn-danger border" (click)="call(player)">Call</button>
            <button type="button" class="options btn btn-outline-dark btn-danger border" (click)="fold(player)">Fold</button>
            <br>
            <div id="betGroup">
                <input type="text" class="form-control" #betAmount id="betAmount" placeholder="$">
                <button type="button" id="betButton" class="options btn btn-outline-dark btn-danger border" (click)="bet(player, betAmount.value)">Bet</button>
            </div>
        </div>
        <div id="chipCount">
            Chip Count: {{player.chipCount}} 
            <img src="assets\images\gold-coins.png" height="28" width="35">
        </div>
    </div>
    <div class="footer secondary-color">
        Current bet: {{player.currAmountThisRound}}
        <br>
        Total bet this hand: {{player.currAmountInPot}}
    </div>

</div>


