<div class="card">
    
    <div class="card-header" 
        [class.action]="player.status === 'action'"
        [class.folded]="player.status === 'folded'">
            {{player.name}}</div>
    <div class="card-body" >
        Chip count: {{player.chipCount}}<br>
        <span id="cards">{{printHand(player.currentHand)}}</span><br>

        <!--

        <div [hidden]="!isMaster()">
            <button type="button" class="options btn btn-primary" (click)="checkMaster(player)">Check</button>
            <button type="button" class="options btn btn-primary" (click)="callMaster(player)">Call</button>
            <button type="button" class="options btn btn-primary" (click)="foldMaster(player)">Fold</button>
        </div>
        -->
        

        <div [hidden]="!isCurrTurn(player)">
            <button type="button" class="options btn btn-primary" (click)="check(player)">Check</button>
            <button type="button" class="options btn btn-primary" (click)="call(player)">Call</button>
            <button type="button" class="options btn btn-primary" (click)="fold(player)">Fold</button>
            <br>
            <div id="betGroup">
                <input type="text" class="betAmount form-control" #betAmount  placeholder="$">
                <button type="button"  class="betButton options btn btn-primary" (click)="bet(player, betAmount.value)">Bet</button>
    
            </div>
            
        </div>
        

    </div>


    <div class="card-footer" 
        [class.action]="player.status === 'action'"
        [class.folded]="player.status === 'folded'">
            This round: {{player.currAmountThisRound}}</div>

</div>


