.inputBox {
    margin-left: 35%;
    margin-top: 85px;
    width: 33%;
    height: 200px;
    text-align: center;
    background-color: #36454f;
    color: white;
    
}

button {
    margin-top: 50px;
    width: 30%;
}

#errorMessage {
    color: red;
}
input{
    margin: 8px 20px 0px 0px;
}